.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background: var(--header-and-footer); 
  /* linear-gradient(to bottom, #00bfff78, #1e8fff74); */
}

.rightButtons {
  display: flex;
  gap: 10px; /* Adjust the gap between buttons if needed */
}
