.generateButtonContainer {
    display: flex;
    justify-content: flex-end;
    margin-left: 150px;
    margin-top: 15px;
  }
  
  .generateButton {
    padding: 15px 40px;
    font-size: 18px;
    background-color: var(--buttons-and-highlights);
    color: var(--primary-background);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.generateButton:hover {
    background-color: var(--text-color-primary-background);
}
  