.sliderContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sliderValuesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    font-size: 10px;
}

/* Add this rule to make the slider red */
.slider {
    accent-color: var(--borders-slider-and-input-field); /* This changes the color of the slider thumb and track */
}
