/* Define your colors */
:root {
    --header-and-footer: #1E1F26;
    --primary-background: #F5F5F5;  
    --buttons-and-highlights: #00BFFF;
    --buttons-header: #FF6F61;
    --buttons-header-hover: #E65A50;
    --text-color-header-and-footer: #FFFFFF;
    --text-color-primary-background: #333333;
    --borders-slider-and-input-field: #00BFFF;
    --card-containers: #E0E0E0;
    --text-product-description: #666666;

  }
  
  /* Apply the background color to the entire body */
  body {
    background-color: var(--primary-background);
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  * {
    box-sizing: border-box;
  }
  